<nav class="bg-white border-b border-gray-200 px-6">
    <div class="flex items-center space-x-8">
        <a href="/user/home" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-home">
            <i class="fa fa-home mr-2"></i>首页
        </a>
        <a href="/user/profile" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-profile">
            <i class="fa fa-user mr-2"></i>个人信息
        </a>
        <a href="/user/caregivers" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-caregivers">
            <i class="fa fa-users mr-2"></i>寻找护工
        </a>
        <a href="/user/appointments" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-appointments">
            <i class="fa fa-calendar mr-2"></i>我的预约
        </a>
        <a href="/user/employments" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-employments">
            <i class="fa fa-handshake-o mr-2"></i>我的聘用
        </a>
        <a href="/user/messages" class="py-4 px-2 text-gray-500 hover:text-primary hover:border-b-2 hover:border-primary/50" data-nav="user-messages">
            <i class="fa fa-comments mr-2"></i>消息中心
        </a>
        <a href="#" class="py-4 px-2 text-danger hover:text-danger/80 hover:border-b-2 hover:border-danger/50">
            <i class="fa fa-exclamation-triangle mr-2"></i>紧急呼叫
        </a>
    </div>
</nav>
